{% load static %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">

    <div id="form-main">
  <div id="form-div">
    
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 style="color: rgb(43, 226, 104)">{{msg}}</h2>
		
      <p class="name">
        <input name="tn" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Task Name" id="name" />
      </p>
      
      <p class="email">
        <input name="ds" type="test" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Description" />
      </p>
       <p class="email">
        <input name="sd" type="date" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Start_Date" />
      </p>
       <p class="email">
        <input name="ed" type="date" class="validate[required,custom[email]] feedback-input" id="email" placeholder="End_Date" />
      </p>
      
     
      
      <div class="submit">
        <input type="submit" value="Submit" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
